---
import Layout from '../layouts/Layout.astro';

import MainHeader from "../components/MainHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ChargeSection from "../components/ChargeSection.astro"
---

<Layout title="Tesla - Electric Cars and More">
	<MainHeader />
	<main 
		class="
			w-full h-screen 
			relative 
			overflow-y-auto
			scroll-smooth
			snap-y
			snap-mandatory
		"
	>
		<HeroSection />
		<ChargeSection />
		<HeroSection />
		<HeroSection />
	</main>
</Layout>

