<section 
	class="
		landing-section
		w-full h-screen
		relative 
		text-center
		overflow-hidden 
		snap-center
		bg-black
	"
	data-header-color="black"
>
	<div class="h-full flex flex-col relative pt-40 z-30">
			<header>
					<h2 class="text-[40px] text-black font-medium">Model 3</h2>
					<a href="#" class="text-sm text-black underline underline-offset-4">Lease from $429/mo</a>
			</header>
			
			<footer class="flex justify-center gap-x-6 mt-auto pb-20">
					<a class="px-12 py-2 text-sm font-medium text-white rounded border-[3px] border-gray-600 bg-gray-600" href="#">
							Order Now
					</a>

					<a class="px-12 py-2 text-sm font-medium text-black rounded border-[3px] border-white bg-white" href="#">
						Demo Drive
					</a>
			</footer>
	</div>

	<div class="w-full h-full absolute top-0 bottom-0 z-10">
		<img class="w-full h-full object-cover" src="/img/model-3.avif">
	</div>
</section>