<section 
	class="
		landing-section
		w-full h-screen
		relative 
		text-center
		overflow-hidden 
		snap-center
		bg-black
	"
	data-header-color="white"
>
	<div class="h-full flex flex-col relative pt-40 z-30">
			<header>
					<h2 class="text-white text-[40px] font-medium">Experience Tesla</h2>
					<p class="text-white text-sm">Schedule a Demo Drive Today</p>
			</header>
			
			<footer class="mt-auto pb-20">
					<a class="px-12 py-2 text-sm font-medium text-white border-[3px] rounded" href="#">
							Demo Drive
					</a>
			</footer>
	</div>

	<div class="w-full h-full absolute top-0 bottom-0 z-10">
			<video class="w-full h-full object-cover" autoplay muted loop src="/video/video.webm">
			</video>
	</div>
</section>